h1 {
  text-align: center;
}

#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
}

.ghost {
  background-color: gray;
}
.food {
  background-color: blue;
}
#score {
  height: 200x;
  width: 300px;
  margin: 20px auto;
  background-color: blanchedalmond;
}

.finalDisplay {
  text-align: center;
  font-size: 100px;
  margin: 0 auto;
  height: 600px;
  width: 1200px;
  background-color: bisque;
}